<main>
    @if (isLogged$ | async) {
        <nb-layout>
            <nb-layout-header fixed>
                <div class="menu-header">
                    <button nbButton (click)="toggleSidebar()">
                        <nb-icon icon="menu"></nb-icon>
                    </button>
                    <h2 class="responsive">{{ 'Finance Tracker' | translate }}</h2>
                    <nb-select
                        [placeholder]="'Select period' | translate"
                        [selected]="initSelectPeriod"
                        (selectedChange)="changePeriod($event)">
                        @for (item of periods; track item.value) {
                            <nb-option [value]="item.value">{{ item.label }}</nb-option>
                        }
                    </nb-select>
                </div>
            </nb-layout-header>
            <nb-sidebar [fixed]="sidebarFixed$ | async" #sidebar>
                <div class="menu-content">
                    <nb-menu [items]="menuItems"></nb-menu>
                    <button nbButton (click)="logout()"><nb-icon icon="log-out-outline"></nb-icon>Logout</button>
                </div>
            </nb-sidebar>
            <nb-layout-column>
                <router-outlet />
            </nb-layout-column>
        </nb-layout>
    } @else {
        <router-outlet />
    }
</main>
